@layer utilities {
    .bg-gradient {
        background-attachment: fixed;
        background-color: #fff;
        background-size: 100vw 100vh;
        background-image: radial-gradient(
            50% 50% at 50% 50%,
            rgba(255, 255, 255, 0.75) 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(
            180deg,
            rgba(214, 202, 228, 0.5) 0%,
            hsla(256, 36%, 86%, 0.5) 15%,
            hsl(256, 44%, 95%, 0.5) 50%
        );
    }
}
